.container {
    background-color: darkgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/src/assets/img/bg05.jpg");
    background-size: cover;
    background-position: center;
    gap: 20px;
    padding: 20px;
}

.container > .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
}

.board {
    width: 95%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.board > .menu {
    width: 100%;
    height: 40px;
}

.board > .menu > button {
    width: 80px;
    height: 100%;
    border: none;
    background-color: white;
}

.board > .menu > button:first-child {
    border-top-left-radius: 10px;
}

.board > .menu > button:last-child {
    border-top-right-radius: 10px;
}

.board > .contents {
    width: 100%;
    min-height: 250px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}