.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/src/assets/img/bg02.jpg");
    background-size: cover;
    background-position: center;
    gap : 20px;
    padding: 10px
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 34px;
    font-weight: 800;
    color: white;
}

.profiles {
    width: 95%;
    display: flex;
    gap: 20px;
}

.profile {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    min-height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
    padding: 20px;
}

.profile > .image {
    width: 300px;
    height: 300px;
    background-image: url("/src/assets/img/profile02.jpg");
    background-size: cover;
    border-radius: 10px;
}

.profile > .info {
    width: 85%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap : 15px;
    font-size: 18px;
    font-weight: 800;
}

.study {
    width: 100%;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
    padding: 20px;
}

.study > .education, .license {
    width: 95%;
    height: 45%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.education > div, .license > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.introduce {
    width: 95%;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
}


@media (max-width: 768px) {
    .profile {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .profile > .info {
        width: 300px;
        font-size: 14px;
    }
}

@media (max-width: 1080px) {
    .profiles {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}