.container {
    width: 100%;
    height: 100vh;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/src/assets/img/bg01.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    gap: 15px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    padding: 5px;
    color: var(--color-white);
}

.codeWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 190px;
    border-radius: 10px;
    background-color: #030712;
}

.codeWindow > .btn {
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
}

.codeWindow > .btn > p {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.codeWindow > .btn > :nth-child(1) {
    background-color: #FF5951;
}
.codeWindow > .btn > :nth-child(2) {
    background-color: #E5C029;
}
.codeWindow > .btn > :nth-child(3) {
    background-color: #53C32B;
}

.codeForm {
    display: flex;
    justify-content: start;
    width: 98%;
    height: 150px;
    border-radius: 10px;
    background-color: #10141E;
    color: var(--color-white);
    font-size: 14px;
    padding: 5px;
    line-height: 1.6; /* 줄 간격 조정 */
}


.codeForm > .typing {
    padding: 5px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub {
    width: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    opacity: 0;
    transform: translateY(-30px); /* 위에서 시작 */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.sub.show {
    opacity: 1;
    transform: translateY(0);
}



.imgBox {
    display: flex;
    gap: 20px;
}

.imgBox > div {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 20px;
    display: flex;
}

.imgBox > div:hover {
    color: orange;
    cursor: pointer;
    transition: all 0.2s;
}


.imgBox > :first-child {
    background-image: url('/src/assets/img/profile01.jpg');
    justify-content: center;
    align-items: end;
}

.imgBox > :last-child {
    background-image: url('/src/assets/img/profile02.jpg');
    justify-content: center;
    align-items: start;
}

.imgBox > :first-child > p {
    font-size: 25px;
    font-weight: 900;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.imgBox > :last-child > p {
    font-size: 25px;
    font-weight: 900;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.ment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ment > p {
    color: var(--color-white);
    padding: 10px;
    font-size: 26px;
    font-weight: 700;
}
/* 타이핑 효과 애니메이션 */

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
    
}


@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 36px;
    }
    .sub > img {
        width: 150px;
        height: 150px;
        border-radius: 15px;
    }

    .sub {
        width: 500px;
    }

    .ment > p {
        font-size: 22px;
    }

    .codeWindow {
        width: 500px;
    }
}

@media (max-width: 505px) {
    .container {
        width: 100%;
        height: 100vh;
        min-height: 800px;
    }

    .title {
        font-size: 26px;
    }

    .sub {
        width: 340px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }


    .imgBox > div {
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }

    .imgBox > :first-child > p {
        font-size: 14px;
    }

    .imgBox > :last-child > p {
        font-size: 14px;
    }

    .ment > p {
        font-size: 18px;
    }

    .codeWindow {
        width: 340px;
        height: 170px;
    }

    .codeForm {
        width: 98%;
        font-size: 12px;
        height: 130px;
    }
}